.wrap {
    width: 1280px;
    margin: 0 auto;
    /*text-align: center;*/
}

.writeBtn {
    margin-top: 50px;
    text-align: center;
}

#sample6_address, #sample6_detailAddress {
    width: 570px;
    display: inline-block;
}

#startTimeFloating, #endTimeFloating {
    width: 635px;
    display: inline-block;
}

#detailAddressDiv, #addressDiv {
    width: 570px;
    display: inline-block;
}

#petCategoryInput, #categoryInput {
    display: inline-block;
    width: 300px;
}

#petCategoryDiv, #categoryDiv {
    display: inline-block;
    width: 900px;
}

#priceDiv, #dayDiv {
    display: inline-block;
    width: 635px;
}

#dayDiv {
    text-align: center;
    /*justify-content: space-between;*/
}

.writeBtn {
    margin-bottom: 100px;
}

.title, .recommendBtn {
    display: inline-block;
    width: 635px;
}